<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <It4mage_Maintenance>
            <version>1.0.0</version>
        </It4mage_Maintenance>
    </modules>
    
    <global>
        <models>
            <it4magemnt>
                <class>It4mage_Maintenance_Model</class>
            </it4magemnt>
        </models>

        <helpers>
            <it4magemnt>
                <class>It4mage_Maintenance_Helper</class>
            </it4magemnt>
        </helpers>
        
        <events>
            <controller_front_init_before>
                <observers>
                    <it4magemnt_front_init_before>
                        <type>singleton</type>
                        <class>It4mage_Maintenance_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </it4magemnt_front_init_before>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    
    <frontend>
        <routers>
            <it4magemnt>
                <use>standard</use>
                <args>
                    <module>It4mage_Maintenance</module>
                    <frontName>it4magemnt</frontName>
                </args>
            </it4magemnt>
        </routers>
    </frontend>
    
    <default>
        <system>
            <it4mage_maintenance>
                <active>0</active>
                <show>msg</show>
                <msg>Under maintenance</msg>
                <debug>1</debug>
            </it4mage_maintenance>
        </system>
    </default>
</config>
